.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile {
  
  border-radius: 2rem;
  padding: 2rem;
  width: max-content;
  margin: 2rem;
}

.profile img {
  height: 100%;
  border-radius: 1rem;
}

.profile .identification {
  display: flex;
  gap: 1rem;
  height: 10rem;
}

.profile .personal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile h1 {
  color: black;
  font-weight: 500;
  margin: 0;
}

.profile h2 {
  color: black;
  font-weight: 400;
  margin: 0;
}

.profile .bio {
  text-align: center;
  font-style: italic;
  margin: 1rem;
  font-size: 1.2rem;
}